
.section_text{
    width: 750px;
    height: 430px;
    float: left;
    position: relative;
    top: 30px;
    left: 100px;
    border:1px solid; 
    letter-spacing: 1.5px; /*자간*/
    padding: 10px;
    
}
img{
    width: 445px; 
    height: 450px;
}
.a{
    position: relative;
    top: 30px; 
    left: 130px;
    height:450px;
    width: 445px;
    overflow: hidden;
    border: 1px solid;
    
}
.a img{
    transition: all 0.05s linear;
}
.a:hover img{
    transform: scale(1.05);
}