*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Do Hyeon', sans-serif;
}
/*header*/
.main_logo{
    font-size: 80px;
    font-weight: 800;
}
.main_servelogo{
    font-size: 50px;
    font-weight: 800;
}
/*section*/



/*nav*/
nav ul li{
    border: 0px solid rgb(0, 0, 0);
    list-style: none;
    font-size: 30px;
    display: inline;
    margin: 100px;
   
}
/*nav 글씨전용*/
nav ul li span{
    text-align: center;
    top: 0px; 
}

/*body*/
