@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'IBM Plex Sans KR'; /*폰트 일단 넣었는데 별로면 바꿉시더 --은영*/
    background-color: #ebebeb; /*배경 넣어봤는데 별로면 바꿉시더 --은영*/
}
a{
    color: black;
}
/*header*/
header{
    font-size: 50px;
    font-weight: bold;
}
.main_logo{
    margin-right: 400px;
    font-size: 60px;
}
.navi{
    font-size: 35px;
    word-spacing: 100px;
}
/*section*/



/*nav*/
nav ul li{
    border: 0px solid rgb(0, 0, 0);
    list-style: none;
    font-size: 30px;
    display: inline;
    margin: 100px;
   
}
/*nav 글씨전용*/
nav ul li span{
    text-align: center;
    top: 0px; 
}

/*body*/
